*{
margin: 5px;
	background-color:black;
	color: #fff;
}
.head-title .title {
font-family: 'Oswald', sans-serif;
text-decoration: none;
font-size: 40px;
width: 100%;
display: inline-block;
text-align: center;
}

.menu li {
	list-style: none;
	display: inline-block;
	background-color: black;
	position: relative;
	left: 10px;


}
.menu li a{
background-color:black;
text-decoration: none;
}
.menu{
	background-color:black;
	font-family: 'Montserrat', sans-serif;
	border-radius: 10px;
	border-top: 0.5px solid #878787;
	border-bottom: 0.5px solid #878787;
	padding: 5px;

}
.m-container{
		font-family: 'Montserrat', sans-serif;
		margin: 10px;
		margin-left:65px;

}
.m-container li{
	list-style: none;
	display: inline-block;
    border-bottom: 2px solid #878787 ;
    border-top: 2px solid #878787 ;
    border-right: 2px solid #878787 ;
    border-radius: 10px;





}
.container{
	width:12em;
			padding-bottom: 12px;
			background-color: transparent;
			

}


.details{
	background-color: transparent;
}
.avatar{
	background-color: transparent;
}
.avatar img{
	width:100%;
	float:left;
	background-color: transparent;
	border-radius:10px;

}


.hd{
	position: relative;
	top: 10px;
text-align: center;
color: inherit;
background-color: transparent;

}
.hd a{


color: #1089fc;

text-decoration: none;
}

.but{
	display:block;
	width: 100%;
	text-align: center;
}
@media screen and (max-width: 400px){

	.menu li{
		position: relative;
	left: 0px;

	margin:0px;
}
.container{
	width: 100%;
}
	.avatar img{
		width: 25%;
	}
.details p{
	position: relative;
	top: 5px;
	background-color: transparent;
}
.details{
	position: relative;
	top: 10px;}



.hd{
	position: relative;
	top: 10px;
	text-align:initial;
left: 20px;}



.m-container{
	margin-left: 10px;
}
}

#search-con{
	padding: 10px;
border-radius: 10px;
transition: 2s;
display: none;

}
.search{
	border-radius: 5px;
padding: 10px;
width: 97.5%;
border:1px solid #fff;


}

.fa-solid{
	position: absolute;
	top: 80px;
	right: 50px;
	margin-right: 10px;
}
#mark{
	display: none;
}
#search{
	display: block;
}

@media screen and (max-width: 400px){

.fa-solid{
	position: absolute;
	top: 74px;
	right: 50px;

	margin-right: 10px;
}
.search{
	width:90%;
}
}
iframe{
	width: 100%;
}
